In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test.csv', 'train.csv', 'sampleSubmission.csv']

In [2]:
train = pd.read_csv("../input/train.csv", parse_dates = ["datetime"])
test = pd.read_csv("../input/test.csv", parse_dates = ["datetime"])

In [3]:
train.head(40)

              datetime  season  holiday  ...    casual  registered  count
0  2011-01-01 00:00:00       1        0  ...         3          13     16
1  2011-01-01 01:00:00       1        0  ...         8          32     40
2  2011-01-01 02:00:00       1        0  ...         5          27     32
3  2011-01-01 03:00:00       1        0  ...         3          10     13
4  2011-01-01 04:00:00       1        0  ...         0           1      1
5  2011-01-01 05:00:00       1        0  ...         0           1      1
6  2011-01-01 06:00:00       1        0  ...         2           0      2
7  2011-01-01 07:00:00       1        0  ...         1           2      3
8  2011-01-01 08:00:00       1        0  ...         1           7      8
9  2011-01-01 09:00:00       1        0  ...         8           6     14
10 2011-01-01 10:00:00       1        0  ...        12          24     36
11 2011-01-01 11:00:00       1        0  ...        26          30     56
12 2011-01-01 12:00:00       1        0  ...        29          55     84
13 2011-01-01 13:00:00       1        0  ...        47          47     94
14 2011-01-01 14:00:00       1        0  ...        35          71    106
15 2011-01-01 15:00:00       1        0  ...        40          70    110
16 2011-01-01 16:00:00       1        0  ...        41          52     93
17 2011-01-01 17:00:00       1        0  ...        15          52     67
18 2011-01-01 18:00:00       1        0  ...         9          26     35
19 2011-01-01 19:00:00       1        0  ...         6          31     37
20 2011-01-01 20:00:00       1        0  ...        11          25     36
21 2011-01-01 21:00:00       1        0  ...         3          31     34
22 2011-01-01 22:00:00       1        0  ...        11          17     28
23 2011-01-01 23:00:00       1        0  ...        15          24     39
24 2011-01-02 00:00:00       1        0  ...         4          13     17
25 2011-01-02 01:00:00       1        0  ...         1          16     17
26 2011-01-02 02:00:00       1        0  ...         1           8      9
27 2011-01-02 03:00:00       1        0  ...         2           4      6
28 2011-01-02 04:00:00       1        0  ...         2           1      3
29 2011-01-02 06:00:00       1        0  ...         0           2      2
30 2011-01-02 07:00:00       1        0  ...         0           1      1
31 2011-01-02 08:00:00       1        0  ...         0           8      8
32 2011-01-02 09:00:00       1        0  ...         1          19     20
33 2011-01-02 10:00:00       1        0  ...         7          46     53
34 2011-01-02 11:00:00       1        0  ...        16          54     70
35 2011-01-02 12:00:00       1        0  ...        20          73     93
36 2011-01-02 13:00:00       1        0  ...        11          64     75
37 2011-01-02 14:00:00       1        0  ...         4          55     59
38 2011-01-02 15:00:00       1        0  ...        19          55     74
39 2011-01-02 16:00:00       1        0  ...         9          67     76

[40 rows x 12 columns]

In [4]:
test.head()

             datetime  season  holiday    ...       atemp  humidity  windspeed
0 2011-01-20 00:00:00       1        0    ...      11.365        56    26.0027
1 2011-01-20 01:00:00       1        0    ...      13.635        56     0.0000
2 2011-01-20 02:00:00       1        0    ...      13.635        56     0.0000
3 2011-01-20 03:00:00       1        0    ...      12.880        56    11.0014
4 2011-01-20 04:00:00       1        0    ...      12.880        56    11.0014

[5 rows x 9 columns]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.6 KB

In [6]:
train.datetime.value_counts().sort_index()

2011-01-01 00:00:00    1
2011-01-01 01:00:00    1
2011-01-01 02:00:00    1
2011-01-01 03:00:00    1
2011-01-01 04:00:00    1
2011-01-01 05:00:00    1
2011-01-01 06:00:00    1
2011-01-01 07:00:00    1
2011-01-01 08:00:00    1
2011-01-01 09:00:00    1
2011-01-01 10:00:00    1
2011-01-01 11:00:00    1
2011-01-01 12:00:00    1
2011-01-01 13:00:00    1
2011-01-01 14:00:00    1
2011-01-01 15:00:00    1
2011-01-01 16:00:00    1
2011-01-01 17:00:00    1
2011-01-01 18:00:00    1
2011-01-01 19:00:00    1
2011-01-01 20:00:00    1
2011-01-01 21:00:00    1
2011-01-01 22:00:00    1
2011-01-01 23:00:00    1
2011-01-02 00:00:00    1
2011-01-02 01:00:00    1
2011-01-02 02:00:00    1
2011-01-02 03:00:00    1
2011-01-02 04:00:00    1
2011-01-02 06:00:00    1
                      ..
2012-12-18 18:00:00    1
2012-12-18 19:00:00    1
2012-12-18 20:00:00    1
2012-12-18 21:00:00    1
2012-12-18 22:00:00    1
2012-12-18 23:00:00    1
2012-12-19 00:00:00    1
2012-12-19 01:00:00    1
2012-12-19 02:00:00    1
2012-12-19 03:00:00    1
2012-12-19 04:00:00    1
2012-12-19 05:00:00    1
2012-12-19 06:00:00    1
2012-12-19 07:00:00    1
2012-12-19 08:00:00    1
2012-12-19 09:00:00    1
2012-12-19 10:00:00    1
2012-12-19 11:00:00    1
2012-12-19 12:00:00    1
2012-12-19 13:00:00    1
2012-12-19 14:00:00    1
2012-12-19 15:00:00    1
2012-12-19 16:00:00    1
2012-12-19 17:00:00    1
2012-12-19 18:00:00    1
2012-12-19 19:00:00    1
2012-12-19 20:00:00    1
2012-12-19 21:00:00    1
2012-12-19 22:00:00    1
2012-12-19 23:00:00    1
Name: datetime, Length: 10886, dtype: int64

In [7]:
test.datetime.value_counts().sort_index()

2011-01-20 00:00:00    1
2011-01-20 01:00:00    1
2011-01-20 02:00:00    1
2011-01-20 03:00:00    1
2011-01-20 04:00:00    1
2011-01-20 05:00:00    1
2011-01-20 06:00:00    1
2011-01-20 07:00:00    1
2011-01-20 08:00:00    1
2011-01-20 09:00:00    1
2011-01-20 10:00:00    1
2011-01-20 11:00:00    1
2011-01-20 12:00:00    1
2011-01-20 13:00:00    1
2011-01-20 14:00:00    1
2011-01-20 15:00:00    1
2011-01-20 16:00:00    1
2011-01-20 17:00:00    1
2011-01-20 18:00:00    1
2011-01-20 19:00:00    1
2011-01-20 20:00:00    1
2011-01-20 21:00:00    1
2011-01-20 22:00:00    1
2011-01-20 23:00:00    1
2011-01-21 00:00:00    1
2011-01-21 01:00:00    1
2011-01-21 02:00:00    1
2011-01-21 03:00:00    1
2011-01-21 04:00:00    1
2011-01-21 05:00:00    1
                      ..
2012-12-30 18:00:00    1
2012-12-30 19:00:00    1
2012-12-30 20:00:00    1
2012-12-30 21:00:00    1
2012-12-30 22:00:00    1
2012-12-30 23:00:00    1
2012-12-31 00:00:00    1
2012-12-31 01:00:00    1
2012-12-31 02:00:00    1
2012-12-31 03:00:00    1
2012-12-31 04:00:00    1
2012-12-31 05:00:00    1
2012-12-31 06:00:00    1
2012-12-31 07:00:00    1
2012-12-31 08:00:00    1
2012-12-31 09:00:00    1
2012-12-31 10:00:00    1
2012-12-31 11:00:00    1
2012-12-31 12:00:00    1
2012-12-31 13:00:00    1
2012-12-31 14:00:00    1
2012-12-31 15:00:00    1
2012-12-31 16:00:00    1
2012-12-31 17:00:00    1
2012-12-31 18:00:00    1
2012-12-31 19:00:00    1
2012-12-31 20:00:00    1
2012-12-31 21:00:00    1
2012-12-31 22:00:00    1
2012-12-31 23:00:00    1
Name: datetime, Length: 6493, dtype: int64

In [8]:
train["year"] = train["datetime"].dt.year
train["hour"] = train["datetime"].dt.hour
train["dayofweek"] = train["datetime"].dt.dayofweek

test["year"] = test["datetime"].dt.year
test["hour"] = test["datetime"].dt.hour
test["dayofweek"] = test["datetime"].dt.dayofweek

In [9]:
y_train = train["count"]
y_train = np.log1p(y_train)

In [10]:
y_casual = np.log1p(train.casual)
y_registered = np.log1p(train.registered)

In [11]:
X_train = train.drop(["datetime", "windspeed", "casual", "registered", "count"], 1)
X_test = test.drop(["datetime", "windspeed"], 1)

In [12]:
import lightgbm as lgb

In [13]:
hyperparameters = {'boosting_type': 'gbdt', 'colsample_bytree': 0.7250136792694301, 'is_unbalance': False, 'learning_rate': 0.013227664889528229,
                   'min_child_samples': 20, 'num_leaves': 56, 'reg_alpha': 0.7543896477745794, 'reg_lambda': 0.07152751159655985, 
                   'subsample_for_bin': 240000, 'subsample': 0.5233384321711397, 'n_estimators': 1093}

In [14]:
model = lgb.LGBMRegressor(**hyperparameters)

In [15]:
model.fit(X_train, y_casual)
preds1 = model.predict(X_test)

In [16]:
hyperparameters = {'boosting_type': 'gbdt', 'colsample_bytree': 0.6399481302431778, 'is_unbalance': False, 'learning_rate': 0.011762357512839758,
                   'min_child_samples': 20, 'num_leaves': 30, 'reg_alpha': 0.3519969279711128, 'reg_lambda': 0.587719028796242, 'subsample_for_bin': 120000,
                   'subsample': 0.9161483473338935, 'n_estimators': 2166}

In [17]:
model = lgb.LGBMRegressor(**hyperparameters)

In [18]:
model.fit(X_train, y_registered)
preds2 = model.predict(X_test)

In [19]:
sub = pd.read_csv("../input/sampleSubmission.csv") 
preds = np.expm1(preds1) + np.expm1(preds2)
sub["count"] = preds
sub.to_csv("lgbm_casual_registered.csv", index=False)

In [20]:
sub.head(30)

               datetime       count
0   2011-01-20 00:00:00   12.214945
1   2011-01-20 01:00:00    5.750223
2   2011-01-20 02:00:00    3.205213
3   2011-01-20 03:00:00    1.878348
4   2011-01-20 04:00:00    1.595200
5   2011-01-20 05:00:00    7.072647
6   2011-01-20 06:00:00   37.522869
7   2011-01-20 07:00:00  110.219867
8   2011-01-20 08:00:00  228.431384
9   2011-01-20 09:00:00  138.773836
10  2011-01-20 10:00:00   60.313439
11  2011-01-20 11:00:00   66.736808
12  2011-01-20 12:00:00   84.629182
13  2011-01-20 13:00:00   79.293019
14  2011-01-20 14:00:00   72.198820
15  2011-01-20 15:00:00   76.980581
16  2011-01-20 16:00:00   96.180652
17  2011-01-20 17:00:00  193.811952
18  2011-01-20 18:00:00  167.459186
19  2011-01-20 19:00:00  118.128749
20  2011-01-20 20:00:00   89.461738
21  2011-01-20 21:00:00   60.575669
22  2011-01-20 22:00:00   39.244154
23  2011-01-20 23:00:00   26.387955
24  2011-01-21 00:00:00   15.616251
25  2011-01-21 01:00:00    8.292113
26  2011-01-21 02:00:00    3.890038
27  2011-01-21 03:00:00    1.708713
28  2011-01-21 04:00:00    1.473774
29  2011-01-21 05:00:00    5.589230